/* Box Model */

* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

/* Remove Scrollbar */

::-webkit-scrollbar { 
    display: none;
    width: 0px;
    background: transparent;
}

/* Clear Fix Hack */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* Elements */

a, a:link, a:visited {
	text-decoration:none;
	color:#ffffff;
	padding: 16px;
}

a:hover, a:active {
	text-decoration:none;
	color:#ffffff;
	background-color:#7684FF;
	transition:  all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
}


html, body {
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    background-color: #000524;
}

hr {
    color:#ffffff;
    display: block;
  	border-style: solid;
  	border-width: 1px;
}

p {
	font-size:40px;
	font-weight: lighter;
	margin: 24px;
	padding: 16px;
	color:#000000;
	transition:  all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
}


#logo {
	width:48px;
	height:48px;
	display: block;
	margin: auto;
	transition:  all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
}


#wrapper {
	margin: auto;
	padding:128px;
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

@media only screen and (min-width:768px) and (max-width:1024px) {
	#wrapper {
		padding:128px;
	}
}

@media only screen and (max-width:767px) {
	#wrapper {
		padding:64px;
	}
}


