/* Box Model */

* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

/* Remove Scrollbar */

::-webkit-scrollbar { 
    display: none;
    width:0px;
    background:transparent;
}

/* Clear Fix Hack */

.clearfix:after {
	content: ".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0px;
	height:0px;
}

/* Elements */

a, a:link, a:visited {
	text-decoration:none;
	color:#000524;
	padding:16px;
}

a:hover {
	text-decoration:none;
	color:#15F5BA;
	background-color:#000524;
}

a:active {
	text-decoration:none;
	color:#fafafa;
	background-color:#000524;
}

html, body {
    min-width:100%;
    min-height:100%;
    margin:0px;
    padding:0px;
    font-family: helvetica, arial, sans-serif;
    text-align:center;
    background-color:#fafafa;
}

p {
	color:#000524;
	font-size:10px;
}

#wrapper {
	margin:auto;
	padding:8vw;
	width:100%;
	height:100%;
	overflow:auto;
}

#gif {
	max-width:320px;
	width:auto;
	height:auto;
	padding-bottom:16px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#logo {
	padding-bottom:16px;
}

