/* Box Model */

* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

/* Remove Scrollbar */

::-webkit-scrollbar { 
    display: none;
    width: 0px;
    background: transparent;
}

/* Clear Fix Hack */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* Elements */

a, a:link, a:visited {
	text-decoration:none;
	color:#000524;
	padding: 16px;
}

a:hover {
	text-decoration:none;
	color:#ffffff;
	background-color:#000524;
}


a:active {
	text-decoration:none;
	color:#ffffff;
	background-color:#D868FF;
}


html, body {
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    text-align: center;
}


p {
	font-size:40px;
	font-weight: lighter;
	margin-bottom: 32px;
	color:#000524;
}


#logo {
	width:48px;
	height:48px;
	display: block;
	margin: auto;
}


#wrapper {
	margin: auto;
	padding-top:128px;
	padding-left:48px;
	padding-right:48px;
	padding-bottom: 64px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

